<div class="columns is-gapless is-multiline is-mobile" *ngIf="abbonamentoMagSottoscritto">
  <div class="column is-one-fifth"></div>

  <div class="column">
    <app-msg-err *ngIf="errMsg" [msg]="errMsg"></app-msg-err>
    <h4>Dati Merce</h4>
    <form class="mt-3">

      <div class="form-row" >
        <div class="form-group  col-md-10">
          <label for="descrizione">Descrizione*</label>
          <input type="text" class="form-control" id="descrizione" placeholder="Descrzione" [(ngModel)]="descrizione" name="descrizione">
        </div>
        <div class="form-group  col-md-2">
          <label for="qta">Quantità*</label>
          <input type="text" class="form-control" id="qta" placeholder="Quantità" [(ngModel)]="qta" name="qta">
        </div>
      </div>
      <br>
      <h5>Dimensioni</h5>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="h">Altezza (metri) (esempio 3.4)</label>
          <input type="text" class="form-control" id="h" placeholder="Altezza" [(ngModel)]="h" name="h">
        </div>
        <div class="form-group col-md-4">
          <label for="p">Profondità (metri) (esempio 3.4)</label>
          <input type="text" class="form-control" id="p" placeholder="Profondità" [(ngModel)]="p" name="p">
        </div>
        <div class="form-group col-md-4">
          <label for="l">Larghezza (metri) (esempio 3.4)</label>
          <input type="text" class="form-control" id="l" placeholder="Larghezza" [(ngModel)]="l" name="l">
        </div>
      </div>
    </form>

    <p>*campo obbligatorio</p>
    <div class="panel-block button is-info justify-content-center" (click)="richiediRitiro()"
         *ngIf="(descrizione && h && p && l)">
      Richiedi ritiro
    </div>

  </div>

  <div class="column is-one-fifth"></div>
</div><!--columns-->

