<div class="mt-6 mb-6" style="margin-left: 15%;">
  <h1>Chi siamo</h1>
  <p class="text-justify" style="margin-right: 45%; font-size: large;">
    FastShipments è un’azienda di recente costituzione, nata dalla necessità di migliorare i servizi
    di spedizione, dunque offre un servizio di consegna a domicilio pensato per l’e-commerce di
    piccole medie e grandi imprese, quello che offre è un insieme di strumenti che il consumatore
    può utilizzare per migliorare la sua esperienza d’acquisto online. In un mondo in continua
    evoluzione tecnologica è più che opportuno introdurre nuovi sistemi e applicazioni per
    fornire una migliore assistenza e trasparenza nei servizi.
    FastShipments offre agli utenti la possibilità di poter letteralmente controllare la propria
    spedizione ed ai venditori una soluzione facile e veloce per poter immettersi nel mondo
    dell’e-commerce, offrendo la gestione della logistica in entrata e uscita senza la necessità di
    dover possedere un ampio spazio adibito a magazzino, grazie ad abbonamenti a cadenza
    mensile, semestrale o annuale.
  </p>
</div>
