
<div class="columns is-gapless is-multiline is-mobile">
  <div class="column is-one-fifth"></div>

  <div class="column">
    <div class="h1 mb-5">Registrazione</div>

    <app-msg-err [msg]="errRegistrazione" *ngIf="errRegistrazione"></app-msg-err>

    <div *ngIf="succReg">
      <app-msg-suc [msg]="succReg"></app-msg-suc>
      <button class="btn btn-success" routerLink="/login">Vai al Login</button>
    </div>


    <div class="form-row">
      <label for="radio" class="mr-2">Tipo cliente</label>
      <div id="radio" class="radio mr-2">
        <input name="radioGenere" type="radio" id="radioAzienda" (click)="impostaTipo(false)">
        <label for="radioAzienda">Azienda</label>
      </div>
      <div class="radio">
        <input name="radioGenere" type="radio" id="radioPrivato"  (click)="impostaTipo(true)" checked>
        <label for="radioPrivato">Privato</label>
      </div>
    </div>

    <form class="mt-3">

      <div class="form-row" *ngIf="privato">
        <div class="form-group col-md-4">
          <label for="nome">Nome*</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="nome" name="nome">
        </div>

        <div class="form-group col-md-4">
          <label for="cognome">Cognome*</label>
          <input type="text" class="form-control" id="cognome" placeholder="Cognome" [(ngModel)]="cognome" name="cognome">
        </div>

        <div class="form-group col-md-4">
          <label for="cf">Codice Fiscale*</label>
          <input type="text" class="form-control" id="cf" placeholder="Codice Fiscale" [(ngModel)]="cf" name="cf">
        </div>
      </div><!--first form row end-->

      <div class="form-row" *ngIf="!privato">
        <div class="form-group col-md-6">
          <label for="ragioneSociale">Ragione sociale*</label>
          <input type="text" class="form-control" id="ragioneSociale" placeholder="Ragione sociale" [(ngModel)]="ragioneSociale" name="ragioneSociale">
        </div>

        <div class="form-group col-md-6">
          <label for="pIva">Partita Iva*</label>
          <input type="text" class="form-control" id="pIva" placeholder="Partita Iva" [(ngModel)]="pIva" name="pIva">
        </div>
      </div><!--second form row end-->

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email*</label>
          <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email">
        </div>

        <div class="form-group col-md-6">
          <label for="telefono">Telefono*</label>
          <input type="text" class="form-control" id="telefono" placeholder="Telefono" [(ngModel)]="telefono" name="telefono">
        </div>
      </div>

      <div class="form-row h5 mt-3 mb-3">
        Dati Indirizzo
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="regione">Regione*</label>
          <input type="text" class="form-control" id="regione" placeholder="Regione" [(ngModel)]="regione" name="regione">
        </div>

        <div class="form-group col-md-4">
          <label for="citta">Città*</label>
          <input type="text" class="form-control" id="citta" placeholder="Città" [(ngModel)]="citta" name="citta">
        </div>

        <div class="form-group col-md-4">
          <label for="provincia">Provincia*</label>
          <input type="text" class="form-control" id="provincia" placeholder="Provincia" [(ngModel)]="provincia" name="provincia">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="via">Via*</label>
          <input type="text" class="form-control" id="via" placeholder="Via" [(ngModel)]="via" name="via">
        </div>

        <div class="form-group col-md-2">
          <label for="civico">Civico*</label>
          <input type="text" class="form-control" id="civico" placeholder="Civico" [(ngModel)]="civico" name="civico">
        </div>
      </div>

      <div class="form-row h5 mt-3 mb-3">
        Scegli la password per effettuare l'accesso
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Password*</label>
          <input type="password" class="form-control" id="password" placeholder="Password (minimo 8 caratteri)" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group col-md-6">
          <label for="ripPsw">Ripeti Password*</label>
          <input type="password" class="form-control" id="ripPsw" placeholder="ripeti password" [(ngModel)]="ripPsw" name="ripPsw">
        </div>
      </div><!--thirth form row end-->



      <p>*campo obbligatorio</p>
      <button class="btn btn-primary mt-2 mb-2" (click)="registra()" *ngIf="((this.privato && this.nome && this.cognome && this.cf) ||
                        (!this.privato && this.ragioneSociale && this.pIva)) &&
    this.password && this.ripPsw &&this.email && this.telefono && this.regione && this.citta && this.provincia && this.via && this.civico">
        Registrati</button>
      <div class="btn btn-primary mt-2 mb-2 disabled" *ngIf="!(((this.privato && this.nome && this.cognome && this.cf) ||
                        (!this.privato && this.ragioneSociale && this.pIva)) &&
    this.password && this.ripPsw &&this.email && this.telefono && this.regione && this.citta && this.provincia && this.via && this.civico)">
        Registrati</div>
    </form>

  </div>

  <div class="column is-one-fifth"></div>
</div>
