<nav class="navbar" role="navigation" aria-label="main navigation" >
  <div class="navbar-brand">
    <a class="navbar-item" style="color: dodgerblue;" routerLink="/home">
      <h1>FastShipments</h1>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" >
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home">
        Home
      </a>

      <a class="navbar-item">
        Servizi offerti
      </a>

      <a class="navbar-item" routerLink="/dashboard" *ngIf="accounting.isLogged()">
        Dashboard
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link text-decoration-none">
          Altro
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/profilo">
            Profilo Aziendale
          </a>
          <a class="navbar-item" routerLink="/lavoraConNoi">
            Lavora con noi
          </a>
          <a class="navbar-item" routerLink="/contatti">
            Contattaci
          </a>
<!--          <hr class="navbar-divider">-->
<!--          <a class="navbar-item">-->
<!--            Report an issue-->
<!--          </a>-->
        </div>
      </div>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons" style="font-size: 20px">
          <a class="button is-info text-decoration-none" routerLink="/registrazione" *ngIf="!accounting.isLogged()">
            <strong>Registrati</strong>
          </a>
          <a class="button is-info is-light text-decoration-none" routerLink="/login" *ngIf="!accounting.isLogged()">
            Accedi
          </a>
          <a class="button is-info is-light text-decoration-none" (click)="accounting.logoutUser()" routerLink="/home" *ngIf="accounting.isLogged()">
            Esci
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
