<div class="panel abbonamento mr-2 mt-2 ml-2 mb-2">
  <div class="panel-block">Descrizione: {{abbonamentoMagSottoscritto.abbonamentoMagazzino.descrizione}}</div>
  <div class="panel-block">Durata (in giorni): {{abbonamentoMagSottoscritto.abbonamentoMagazzino.durata}}</div>
  <div class="panel-block">Prezzo: {{abbonamentoMagSottoscritto.abbonamentoMagazzino.costo}}€</div>
  <div class="panel-block">Volume disponibile: {{abbonamentoMagSottoscritto.abbonamentoMagazzino.volumeDisponibile}} m<sup>3</sup></div>
  <div class="panel-block">Volume utilizzato: {{abbonamentoMagSottoscritto.volumeUtilizzato.toFixed(2)}} m<sup>3</sup></div>
  <div class="panel-block">Hub scelto: {{prelevaIndirizzo(abbonamentoMagSottoscritto.hub).regione}}</div>
  <div class="panel-block">Data scadenza:{{abbonamentoMagSottoscritto.dataFine  | date : 'fullDate'}} at {{abbonamentoMagSottoscritto.dataFine  | date : 'mediumTime'}}</div>
  <div class="panel-block row">
    <a class="col button is-success float-right mt-2 mr-2 ml-2 mb-2" (click)="richiestaRitiroMerci()">Richiesta ritiro merci</a>
    <a class="col button is-info float-right mt-2 mr-2 ml-2 mb-2" (click)="elencoMerciMagazzino()">Elenco Merci in magazzino</a>
  </div>
</div>

