<!--<p>home works!</p>-->
<!--style="border: 1px solid black"-->
<div class="columns">
  <div class="column"></div>
  <div class="column"></div>
  <div class="column is-one-third">
   <app-login></app-login>
  </div>
</div>

<div class="columns">
  <div class="column is-one-fifth"></div>

  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="assets/images/home_contattaci_434x435.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <button class="button is-info is-light is-bold"> Profilo aziendale </button>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="assets/images/lavora-con-noi-img.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <button class="button is-info is-light is-bold"> Lavora con noi </button>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="assets/images/home_contattaci_434x435.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <button class="button is-info is-light is-bold"> Contattaci </button>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth"></div>
</div>
